/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

/* Defaults*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Body Styles*/
body {
    font-family: 'Young Serif', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic Project Styles*/
    color: #3a3a3a;
}

h1,
h2,
h3 {
    font-family: 'Young Serif' sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/*Header CSS*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header>a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    /*border-bottom: 1px solid #3a3a3a;*/
}

/*Navbar Styles*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/*Nav Toggle Checkbox*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/*Main CSS*/
main {
    /*Make main element take up any excess space*/
    flex: 1 0 auto;
    margin-top: 47px;
}

/*Hero Section*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/Hero-image2.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #3b363662;
}

#cover-text>h2,
#cover-text>p {
    color: #fff;
}

#cover-text>h2 {
    padding-bottom: 20px;
    font-size: 110%;
}

#cover-text>p {
    font-size: 90%;
}

/*Introduction Section*/
#intro-container {
    width: 90%;
    margin: 20px auto;
    border: 1px solid black;
}

#intro-container h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 160%;
}

#intro-container p {
    text-align: center;
    font-size: 110%;
}



/*Footer CSS*/
#networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/*Media Query for Screen sizes 768px and Up*/
@media screen and (min-width: 768px) {

    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 200%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*Main Content*/
    main {
        margin-top: 75px;
    }

    /*Hero cover text*/
        #cover-text {
            width: 500px;
        }

        #cover-text>h2 {
            font-size: 120%;
        }

        #cover-text>p {
            font-size: 100%;
        }
}

/*Media Query for screen larger than 992px*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}