/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

/* Defaults*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Body Styles*/
body {
    font-family: 'Young Serif', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic Project Styles*/
    color: #3a3a3a;
}

h1 {
    font-family: 'Young Serif' sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
}

h2 {
    text-align: center;
}

/*Header CSS*/
header {
    background-color: #5b0888;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header>a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    /*border-bottom: 1px solid #3a3a3a;*/
}

/*Navbar Styles*/
nav {
    position: absolute;
    background-color: #9d76c1b9;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

/*Nav Toggle Checkbox*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

i {
    color: #ffffff;
}

a {
    color: #ffffff;
}


/*Main CSS*/
main {
    /*Make main element take up any excess space*/
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}

/*Hero Section*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/Hero-image2.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #e5cff7a4;
}

#cover-text>h2,
#cover-text>p {
    color: #3a3a3a;
}

#cover-text>h2 {
    padding-bottom: 20px;
    font-size: 110%;
}

#cover-text>p {
    font-size: 90%;
}

/*Introduction Section*/

#intro-container {
    width: 95%;
    margin: 20px auto;
}

#intro-container h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 160%;
}

#intro-container p {
    text-align: center;
    font-size: 110%;
}

#info-container {
    text-align: center;
    padding-top: 20px;
}

#what-to-section {
    margin-bottom: 20px;
}

#box1,
#box2,
#box3 {
    background: #E5CFF7;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
}

#intro-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro-image-bg {
    background: url("../images/intro-image.webp") no-repeat top center/cover;
    width: 90vw;
    height: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

hr {
    border: 2px solid #3a3a3a;
    margin-top: 5%;
}

/*Historical Attractions*/

#attr-container {
    margin: 0 auto;
    display: grid;
    gap: 2em;
    width: 90%;
    padding: 3em 0;
    text-align: center;
    background-color: #E5CFF7;
}

.attr-text {
    line-height: 170%;
}

.img-frame {
    justify-self: center;
    align-self: center;
}

.attr-img {
    width: 300px;
    height: 400px;
}

#img-1 {
    background: url("../images/castle.webp") no-repeat center center;
    background-size: cover;
}

#img-2 {
    background: url("../images/museum.webp") no-repeat center center;
    background-size: cover;
}

#img-3 {
    background: url("../images/old-streets.webp") no-repeat center center;
    background-size: cover;
}


#attractions {
    width: 95%;
    margin: 20px auto;
}

#attractions h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 160%;
}

#attractions p {
    text-align: center;
    font-size: 110%;
}

/*About Us*/

#about {
    width: 95%;
    margin: 20px auto;
    display: flex;
}

#about h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 160%;
}

#about p {
    text-align: center;
}

/*History Page*/
#history {
    padding: 3em 0;
}

#history h1 {
    text-align: center;
}

.img-frame {
    justify-self: center;
    align-self: center;
}

.history-img {
    width: 250px;
    height: 250px;
}

#img-4 {
    background: url("../images/medieval.webp") no-repeat center center;
    background-size: cover;
}

#img-5 {
    background: url("../images/16_17th.webp") no-repeat center center;
    background-size: cover;
}

#img-6 {
    background: url("../images/18th.webp") no-repeat center center;
    background-size: cover;
}

#img-7 {
    background: url("../images/19th.webp") no-repeat center center;
    background-size: cover;
}

#history-container {
    margin: 0 auto;
    display: grid;
    gap: 2em;
    width: 90%;
    padding: 3em 0;
    text-align: center;
}

#history-container h2 {
    padding-bottom: 10px;
}

.history-text {
    line-height: 170%;
}

.history h1 {
    font-size: 250%;
    padding: 0.3em 0;
}

/*Footer CSS*/
#networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

footer {
    background-color: #fff3f3;
}

/*Contact Section*/
/*Form*/
#sign-up {
    background: url("../images/contact-us.jpg");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#sign-up h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.email_address {
    background: #fff3f3;
}

.radio-buttons {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    margin-top: 5%;
}

.join-button {
    border-radius: 2px;
    padding: 10px 25px;
    font-size: 100%;
    background-color: #fff3f3;
    font-family: 'Young Sans' sans-serif;
}

/*Media Query for Screen sizes 768px and Up*/
@media screen and (min-width: 768px) {

    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 200%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*Main Content*/
    main {
        margin-top: 75px;
    }

    /*Hero cover text*/
    #cover-text {
        width: 500px;
    }

    #cover-text>h2 {
        font-size: 120%;
    }

    #cover-text>p {
        font-size: 100%;
    }

    /*Contact Us*/
    /*Form*/
    #sign-up {
        background-position: center;
        position: relative;
    }

    #signup-form {
        max-width: 420px;
        position: absolute;
        left: 10%;
        top: 80px;
    }

    .text-input:hover {
        border-color: #dfa9a9;
    }

    .join-button:hover {
        border-color: #dfa9a9;
        background-color: #dfa9a9;
    }

    /*History Page*/
    #history-container {
        grid-template-columns: repeat(2, minmax(7.75em, 28em));
        gap: 3em;
    }

    #history h1 {
        padding-top: 0;
    }

}

/*Media Query for screens larger than 992px*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}

/*Media Query for screens larger than 1200px*/
@media screen and (min-width: 1200px) {

    #intro-container {
        margin: 5%;
    }

    #what-to-section {
        margin: 5%;
        display: flex;
        justify-content: space-between;
    }

    .group {
        flex-basis: 31%;
        background: #fff3f3;
        border-radius: 10px;
        margin-bottom: 5%;
        padding: 20px 12px;
        box-sizing: border-box;
    }

    #attr-col {
        display: flex;
        flex-basis: 31%;
        justify-content: space-between;
        float: left;
        padding-top: 5%;
    }

    /*History Page*/
    #history-container {
        grid-template-columns: repeat(2, minmax(7.75em, 28em));
        gap: 4em;
        justify-content: center;
    }
}